body,
#root {
	font: inherit;
	height: 100vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.side-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 8px;
}

.loading-screen {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 10px;
}

.model-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 40%;
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.btn-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.switch-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

@media screen and (max-width: 768px) {
	.app {
		flex-direction: column;
	}
	.side-container {
		flex: 1;
	}
	.model-container {
		flex: 1;
		width: 100%;
		margin-top: 20px;
	}
}
