body, #root {
	font: inherit;
	height: 100vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex: 7;
}

.model-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	/* flex: 3 */
	width: 60%;
}

.loading-screen {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 10px;
}


