:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--chinese-white);
  background-color: var(--maastricht-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cadet-grey: #96A9AD;
  --maastricht-blue: #092337;
  --chinese-white: #E1E1DA;
  --desert-sand: #E7D5A7;

}

