:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--chinese-white);
  background-color: hsl(210deg, 30%, 8%); ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cadet-grey: #96A9AD;
  --maastricht-blue: #092337;
  --chinese-white: #E1E1DA;
  --desert-sand: #E7D5A7;
  --brown-chcolate: #5A233B;
  --timberwolf: #DDD8D5;
  --dark-cerulean: #02586F;
  --pale-cerulean: #99CAD9;
  --main-bg: hsl(210deg, 30%, 8%); 
  /* hsla(210deg, 30%, 8%, 0.85); 
  hsl(210deg, 30%, 12%) */


}

